{% extends ('base.html.twig') %}
    {% block body %}

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Events List</h1>
				<span>Showcase of Events in Full Width Layout</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Events</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div id="posts" class="events small-thumbs">

						{% for event in events %}

						<div class="entry clearfix">
							<div class="entry-image">
								<a href="#">
									<img src="images/events/thumbs/1.jpg" alt="Inventore voluptates velit totam ipsa tenetur">
									<div class="entry-date">{{event.date|date("m/d/Y")}}</div>
								</a>
							</div>
							<div class="entry-c">
								<div class="entry-title">
									<h2><a href="#">{{event.titre}}</a></h2>
								</div>
								<ul class="entry-meta clearfix">
									<li><span class="badge badge-warning">Private</span></li>
									<li><a href="#"><i class="icon-time"></i>{{event.horaire|date("h:i")}}</a></li>
									<li><a href="#"><i class="icon-map-marker2"></i>{{event.lieu}}</a></li>
								</ul>
								<div class="entry-content">
									<p>{{ event.presentation }}</p>
									<a href="#" class="btn btn-secondary" disabled="disabled">{{event.billeterie}}</a> <a href="#" class="btn btn-danger">{{event.info}}</a>
								</div>
							</div>
						</div>

						{% endfor %}


					</div>

					<!-- Pagination
					============================================= -->
					<div class="row mb-3">
						<div class="col-12">
							<a href="#" class="btn btn-outline-secondary float-left">&larr; Older</a>
							<a href="#" class="btn btn-outline-dark float-right">Newer &rarr;</a>
						</div>
					</div>
					<!-- .pager end -->

				</div>

			</div>

		</section><!-- #content end -->

    {% endblock %}
